*
{
  margin:0;
  padding:0;
}

body {
  background-color:#eaeaea;
  font-family:Open Sans;
  color:#333;
}

.mag_title
{
  width:98%;
  margin-bottom:6%;
  padding:5% 1%;
  text-align:center;
  color:#fff;
  background:-webkit-linear-gradient(90deg, #00665E, #149187, #00665E);
  background:-moz-linear-gradient(90deg, #00665E, #149187, #00665E);
  background:linear-gradient(90deg, #00665E, #149187, #00665E);
  -webkit-box-shadow:0px 1px 10px #777;
  -moz-box-shadow:0px 1px 10px #777;
  box-shadow:0px 1px 10px #777;
}

.mag_title h1
{
  font-family:Shadows Into Light;
  font-size:4em;
}
.mag_title footer
{
  font-size:1.5em;
  margin:0.5% 0;
}

.wrapper
{
  display:block;
  width:80%;
  margin:0 auto;
}

.intro {
  margin-bottom:2%;
  text-align:center;
}
.intro h1 {
  margin:1% 0;
}
.intro article {
  font-size:1.1em;
}
.intro footer {
  text-align:right;
  color:#777;
  font-style:italic;
  margin:3% 0;
}
.intro p {
  margin:2% 0;
}
#enjoy {
  text-align:center;
  font-family:Shadows Into Light;
  color:#10306b;
  font-size:2em;
  margin:3% 0;
}

article, .mag_title footer {
  line-height:1.6;
}

nav {
  margin-bottom:6%;
}
nav span {
  display:inline-block;
  font-style:italic;
}
nav span.unactive {
  visibility:hidden;
}
.nav_prev {
  float:left;
}
.nav_next {
  float:right;
}

a {
  color:#333;
}
a:hover {
  color:#149187;
}

.section {
  display:inline-block;
  width:45%;
  margin:2% 2.5% 2% 2.5%;
  text-align:center;
  float:left;
}
.section h1 {
  font-family:Shadows Into Light;
  font-size:1.8em;
  margin:2% 0;
  color:#0c1f42;
}
.section article {
  font-size:1.1em;
  margin:3% 0;
  text-align:justify;
}
.section footer {
  text-align:right;
  color:#777;
  font-style:italic;
  margin:3% 0;
}

.button
{
  display:inline-block;
  margin:3% 0;
  min-width:60px;
  text-align:center;
  padding:1.5% 4%;
  color:#fff;
  background-color:#149187;
  font-size:1.1em;
  text-decoration:none;
  transition:background 200ms, padding 200ms, box-shadow 200ms;
  -webkit-box-shadow:0px 1px 10px #777;
  -moz-box-shadow:0px 1px 10px #777;
  box-shadow:0px 1px 10px #777;
}
.button:hover
{
  color:#fff;
  /*background-color:#1aafa4;*/
  /*padding-left:5%;
  padding-right:5%;*/
  -webkit-box-shadow:0px 8px 15px #777;
  -moz-box-shadow:0px 8px 15px #777;
  box-shadow:0px 8px 15px #777;
}

.clear
{
  clear:both;
}

#main_page_ref
{
  color:#fff;
  text-decoration:none;
  transition:color 200ms;
}
.wrapper.article
{
  width:70%;
}
span.article_info
{
  color:#777;
  font-style:italic;
}
article.text
{
  margin:5% 0;
  font-size:1.1em;
  text-align:justify;
}
article.text h1
{
  font-size:2em;
  font-family:Shadows Into Light;
  text-align:left;
}
article.text p
{
  margin:2% 0;
}
article.text ol,ul
{
  padding-left:7%;
}
article.text ul
{
  list-style-type:none;
}
article.text li
{
  padding-bottom:0.5%;
}
article.text ul li::before
{
  content:"– ";
}
article.text ul li
{
  text-indent:-7px;
}
article.text img
{
  display:block;
  margin:2% auto 0 auto;
  max-width:100%;
  height:auto;
}
article .annotation {
  font-size:0.9em;
  font-style:italic;
}
article figure
{
  margin:0 auto 2% auto;
}
article figcaption
{
  color:#777;
  font-style:italic;
  font-size:0.9em;
  text-align:center;
}
blockquote
{
  display:block;
  margin:2% auto;
  width:80%;
  background-color:#dadada;
  border-left:15px solid #149187;
  padding:2% 4% 2% 4%;
  font-style:italic;
}
blockquote footer
{
  color:#777;
  text-align:right;
  font-style:normal;
  font-size:0.9em;
}

@media screen and (max-width: 1200px)
{
  .intro p {
    text-align:justify;
  }
  .section {
    margin:0% 2.5% 5% 2.5%;
  }
  .mag_title h1
  {
    font-size:2.5em;
  }
  .mag_title footer
  {
    font-size:1.3em;
  }
  .section h1
  {
    font-size:1.6em;
  }
}

@media screen and (max-width: 820px)
{
  .wrapper
  {
    width:80%;
  }
  .wrapper.article
  {
    width:80%;
  }
  .section
  {
    width:100%;
    margin:0 0;
  }
  .mag_title h1
  {
    font-size:1.7em;
  }
  .mag_title footer
  {
    font-size:1.1em;
  }
  .section h1
  {
    font-size:1.5em;
  }
  .intro h1
  {
    font-size:1.3em;
  }
  #enjoy
  {
    font-size:1.4em;
  }
}
